:root {
 --primery-text-color: #757575;
  --second-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-background-colors: #ffffff;
  --second-background-colors: #f5f4fa;
  --footer-color: #2f303a;
  --logo-color: #212121;
    }
    html {
      box-sizing: border-box;
    }
    *, *::before, *::after {
      box-sizing: inherit;
    }
 p, h1, h2, h3, h4, h5, h6 {
   margin: 0;
 }
 ul, ol {
   margin: 0;
   padding-left: 0;
 }
body {
  margin: 0 auto;
    color: var(--primery-text-color);
    font-family: "Roboto",sans-serif;
    font-size: 14px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}
.scrip {
  display: none;
}
.link {
    text-decoration: none;
   }
.list {
    list-style: none;

}

      /* логотип */
   
.logo {
  font-family: "Raleway",
  sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:var(--accent-color);
}
.header-logo{
    color:var(--logo-color)
}
        /* навигация по сайту */
        .site-nav {
          display: flex;
        }
        .site-nav .nav-iteam + .nav-iteam  {
          margin-left: 50px;
        }
       
.link-nav {
display: block;
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color: var(--title-text-color);

}
.link-nav:hover, .link-nav:focus {
color:var(--accent-color);
 }
 
         /* почта и телефон шапка */
 .mail-nav {
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color: var(--primery-text-color);

}
.mail-nav:hover, .mail-nav:focus {
    color:var(--accent-color);
} 
.tel-nav {
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color: var(--primery-text-color);
}
.tel-nav:hover, .tel-nav:focus {
   color:var(--accent-color); 
}
         /* main */
 .section {
  padding-top: 94px;
  padding-bottom: 94px;
         }
.main-bg {
 background: var(--footer-color);
text-align: center;
 }
 .main-title { 
   margin-bottom: 30px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--second-text-color);
}
.main-btn {
  display: inline-block;
  border: 0px;
  text-align: center;
border-radius: 4px;
padding: 10px 32px;
min-width: 200px;
font-weight: 700;
font-size: 16px;
cursor: pointer;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--second-text-color);
background: var(--accent-color);
}
.workexamples-bg {
  background-color: #E5E5E5;
}
.main-list {

font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primery-text-color); 
}
.main-subtitle {
  margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}
.main-heading {
  
  margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.caption-subtitle {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.caption-text {
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primery-text-color);

}
/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
    background: var(--footer-color);
}
.logo {
  margin-bottom: 20px;
}
.footer-logo {

font-family: "Raleway",sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}
.footer-logo{
    color: var(--second-text-color);
}
 .iteam + .iteam {
   margin-top: 9px;
 }

  .footer-address {
font-family: "Raleway",sans-serif;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-text-color);
  }
  .footer-link, .footer-link-mail  { 
font-size: 14px;
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
  }
  }
   /* страница портфолио */
   .portfolio-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: var(--title-text-color);
cursor: pointer;
   }
   .portfolio-btn:hover, 
   .portfolio-btn:focus, 
   .portfolio-btn:active {
background: var(--accent-color);
font-weight: 500;
font-size: 16px;
color:var(--second-text-color);
   }
   .portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
   }
   .portfolio-subtitle {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
   }
   



 
     